name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Run tests in Docker
        run: |
          docker run --privileged \
            -v $(pwd):/mnt \
            lolopopikop/kubsh_test:local

      - name: Collect deb artifact
        run: |
          if [ -f kubsh.deb ]; then
            echo "Found kubsh.deb"
          else
            # Ищем .deb файл
            find . -name "*.deb" -exec cp {} kubsh.deb \;
          fi

      - name: Upload DEB artifact
        uses: actions/upload-artifact@v4
        with:
          name: kubsh-deb
          path: kubsh.deb